# Collections

## counter

In [5]:
from collections import Counter

In [6]:
l = [1,1,1,2,3,4,23,3,3,3,4,4]

In [7]:
Counter(l)

Counter({1: 3, 2: 1, 3: 4, 4: 3, 23: 1})

In [8]:
s = 'aaaaaaassssssssssshhhhishsshharrmmmmaaaa'

In [9]:
Counter(s)

Counter({'a': 12, 'h': 7, 'i': 1, 'm': 4, 'r': 2, 's': 14})

In [10]:
qs = 'How many times does each word show upp in this sentenc word word shoe up up'

In [11]:
Counter(qs.split())

Counter({'How': 1,
         'does': 1,
         'each': 1,
         'in': 1,
         'many': 1,
         'sentenc': 1,
         'shoe': 1,
         'show': 1,
         'this': 1,
         'times': 1,
         'up': 2,
         'upp': 1,
         'word': 3})

In [12]:
c = Counter(qs.split())

In [14]:
c.most_common(2)

[('word', 3), ('up', 2)]

In [15]:
l = [1,1,1,1,2,2,2,3,3,3,4,4,4,5,6,6,6,7,7,7,6,6,5,5,5,4,4,0,9,8,9,0]

In [22]:
print len(l)
c = Counter(l)

32

In [18]:
sum(c.values())

32

In [23]:
c.clear()

In [24]:
c

Counter()

In [25]:
c = Counter(l)

In [27]:
list(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
c

Counter({0: 2, 1: 4, 2: 3, 3: 3, 4: 5, 5: 4, 6: 5, 7: 3, 8: 1, 9: 2})

In [29]:
set(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
dict(c)

{0: 2, 1: 4, 2: 3, 3: 3, 4: 5, 5: 4, 6: 5, 7: 3, 8: 1, 9: 2}

In [33]:
Counter(dict(l))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [34]:
c.items()

[(0, 2),
 (1, 4),
 (2, 3),
 (3, 3),
 (4, 5),
 (5, 4),
 (6, 5),
 (7, 3),
 (8, 1),
 (9, 2)]

In [36]:
c.most_common()[:-3-1:-1]

[(8, 1), (9, 2), (0, 2)]

In [37]:
c += Counter()

In [38]:
c

Counter({0: 2, 1: 4, 2: 3, 3: 3, 4: 5, 5: 4, 6: 5, 7: 3, 8: 1, 9: 2})

In [39]:
sentence = 'Ashish sharma Ashish Kaddu Ashish Chomu Ashish Loyal'

In [40]:
words = sentence.split()

In [42]:
c = Counter(words)

In [46]:
c.most_common()[::-1]

[('sharma', 1), ('Chomu', 1), ('Loyal', 1), ('Kaddu', 1), ('Ashish', 4)]

In [48]:
c.most_common(3)[0]

('Ashish', 4)

In [49]:
tuple(c)

('Kaddu', 'Loyal', 'Chomu', 'sharma', 'Ashish')

In [50]:
set(c)

{'Ashish', 'Chomu', 'Kaddu', 'Loyal', 'sharma'}

In [51]:
dict(c)

{'Ashish': 4, 'Chomu': 1, 'Kaddu': 1, 'Loyal': 1, 'sharma': 1}

## defaultdict

In [53]:
from collections import defaultdict

In [54]:
d = {}

In [55]:
d['one']

KeyError: 'one'

In [57]:
d = defaultdict(object)

In [58]:
d['one']

In [59]:
for item in d:
    print item

one

In [61]:
#can also initialize with default valus:

In [62]:
d = defaultdict(lambda : 0)

In [63]:
d ['one']

0

In [64]:
d['two']

0

In [65]:
for item in d:
    print item

two
one

## OrderedDict

In [67]:
print 'Normal dictionary'

d={}

d['a']='A'
d['b']='B'
d['c']='C'
d['d']='D'
d['e']='E'

for k,v in d.items():
    print k,v

Normal dictionary
a A
c C
b B
e E
d D

In [76]:
print 'OrderedDict'
from collections import OrderedDict
d = OrderedDict()

OrderedDict

In [77]:
d['a']='A'
d['b']='B'
d['c']='C'
d['d']='D'
d['e']='E'

In [79]:
for k,v in d.items():
    print k,v

a A
b B
c C
d D
e E

In [82]:
d1 = OrderedDict()
d1['a']=1
d1['b']=2

d2 = OrderedDict()
d2['b']=2
d2['a']=1

In [83]:
print d1 == d2

False

# namedtuple

In [84]:
 t =(1,2,3)

In [85]:
t[0]

1

In [86]:
from collections import namedtuple

In [87]:
Dog = namedtuple('Dog','age breed name')

In [88]:
sam = Dog(age=2,breed='Lab',name='Samy')

In [89]:
sam.age

2

In [90]:
sam.index

In [92]:
sam[0]

2

In [93]:
ash = Dog(age=3,breed='Pom',name='Anb')

In [94]:
dg = (sam,ash)

In [101]:
dg[1][0]

3

In [102]:
cat = namedtuple('cat','fur claws name')

In [103]:
c =cat(fur='fuzzy',claws=False,name='kitty')

In [104]:
c

cat(fur='fuzzy', claws=False, name='kitty')

In [105]:
c.claws

False

In [106]:
c.index

In [110]:
sam.index('Samy')

2