# Datetime

In [1]:
import datetime

In [2]:
TS1 =datetime.time(5,25,1)

In [3]:
print TS1

05:25:01

In [4]:
TS1.hour

5

In [5]:
TS1.tzinfo

In [6]:
TS2 = datetime.time()

In [7]:
print TS2

00:00:00

In [8]:
print datetime.time.min

00:00:00

In [9]:
print datetime.time.max

23:59:59.999999

In [10]:
print  datetime.time.resolution

0:00:00.000001

In [12]:
print datetime.date(2010,7,9)

2010-07-09

In [13]:
TODAY = datetime.date.today()

In [14]:
print TODAY

2017-12-28

In [16]:
TODAY.timetuple()

time.struct_time(tm_year=2017, tm_mon=12, tm_mday=28, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=362, tm_isdst=-1)

In [17]:
TODAY.day

28

In [20]:
print datetime.date.resod1 = lution

1 day, 0:00:00

In [21]:
d1 = datetime.date(2001,01,01)

In [22]:
d1

datetime.date(2001, 1, 1)

In [23]:
d2 = d1.replace(year = 1996)

In [24]:
d2

datetime.date(1996, 1, 1)

In [28]:
print (d1 - d2)

1827 days, 0:00:00

In [34]:
print (datetime.date.ctime(d1))

Mon Jan  1 00:00:00 2001