# FOR LOOPS

In [1]:
l = [1,2,3,4,5]

In [2]:
l

[1, 2, 3, 4, 5]

In [5]:
for num in l:
    print num

1
2
3
4
5

In [6]:
for num in l:
    print 'Something!'

Something!
Something!
Something!
Something!
Something!

In [7]:
#Modulo

In [8]:
10 % 3

1

In [10]:
for num in l:
    if num%2 == 1:
        print num

1
3
5

In [12]:
for num in l:
    if num % 2 == 0:
        print num
    else:
        print 'Here is an odd no.'

Here is an odd no.
2
Here is an odd no.
4
Here is an odd no.

In [13]:
l

[1, 2, 3, 4, 5]

In [14]:
list_sum = 0

In [15]:
for num in l:
    list_sum = list_sum + num

print list_sum

15

In [16]:
s = 'this is a string'

In [18]:
for letter in s:
    print letter

t
h
i
s

i
s

a

s
t
r
i
n
g

In [19]:
tup = (1,2,3,4,5)

for t in tup:
    print t

1
2
3
4
5

In [20]:
# tupe unpacking

In [21]:
l = [(2,4),(6,8),(10,12)]

In [24]:
l[2][0]

10

In [25]:
for tup in l:
    print tup

(2, 4)
(6, 8)
(10, 12)

In [28]:
for (t1,t2) in l:
    print t1-t2

-2
-2
-2

In [29]:
d = {'k1':1,'k2':2,'k3':3}

In [30]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [31]:
for item in d:
    print item

k3
k2
k1

In [32]:
for k,v in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1

In [34]:
for (k,v) in d.iteritems():
    print k
    print v

k3
3
k2
2
k1
1