# Function and Method Homework

In [129]:
def vol(rad):
    return (4.0/3)*rad**3

In [130]:
vol(10)

1333.3333333333333

In [131]:
def ran_check(num,low,high):
    if(high >= num >= low):
       print '%s is in the range' %(num)
    else:
       print '%s Not in range' %(num)

In [13]:
ran_check(3,1,10)

3 num is in the range

In [14]:
def ran_bool(num,low,high):
    return high>= num >=low

In [15]:
ran_bool(1,3,5)

False

In [16]:
ran_bool(10,1,20)

True

In [21]:
ran_bool('a','C','Z')

False

In [23]:
def get_lower_upper_count(string):
    lower = 0
    upper = 0
    for letter in string:
        if 'A'<=letter<='Z':
            upper = upper + 1
        elif 'a'<=letter<='z':
            lower = lower + 1
        else:
            continue
    print'No. of Upper case characters : ',upper
    print'No. of Lower case characters : ',lower

In [24]:
st = 'Hello Mr. Rogers, how are you this fine Tuesday?'
get_lower_upper_count(st)

No. of Upper case characters :  4
No. of Lower case characters :  33

In [25]:
l = [1,2,3,4,5,1,1,2,3,4]

In [26]:
l

[1, 2, 3, 4, 5, 1, 1, 2, 3, 4]

In [27]:
t = tuple(l)

In [28]:
t

(1, 2, 3, 4, 5, 1, 1, 2, 3, 4)

In [29]:
s = set(l)

In [30]:
s

{1, 2, 3, 4, 5}

In [31]:
l = list(s)

In [32]:
l

[1, 2, 3, 4, 5]

In [38]:
def unique_list(l):
    return list(set(l))

l = [1,2,3,4,5,6,5,6,7,8,1]
lst = unique_list(l)

In [39]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [40]:
def multiply(l):
    mul = 1
    for i in l:
        mul = mul*i
    return mul

multiply([1,2,3,-4])

-24

In [42]:
def palindrome(s):
    return s == s[::-1]

palindrome('helleh')

True

In [43]:
palindrome('ashish')

False

In [44]:
import string

In [45]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [138]:
def ispanagram(str1, alphabet = string.ascii_lowercase):
    str1 = set(str1.lower())-{" "}
    alpha = set(alphabet)
    return alpha==str1

In [140]:
str = 'The brown fox jump over the lazy dogs'
ispanagram(str)

False

In [116]:
a = {1,1,2,3,4,4,5}

In [117]:
type(a)

set

In [124]:
a.isdisjoint({' '})

True

In [125]:
a == a

True

In [126]:
a == {}

False

In [127]:
type(a)

set

In [132]:
if 3 in range(1,10)

SyntaxError: invalid syntax (<ipython-input-132-3d99f3bd7917>, line 1)

In [133]:
3 in range(1,10)

True

In [141]:
def unique_list(ll):
    x = []
    for element in ll:
        if element not in x:
            x.append(element)
    return x

st = [1,2,3,4,5,6,7,8,1,2,3,8,9,0,1,2,3,4,5]
unique_list(st)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [143]:
3 not in range(1,5)

False

In [144]:
def count_character(st):
    d = {'upper':0,'lower':0}
    for character in st:
        if character.isupper():
            d['upper'] +=1
        elif character.islower():
            d['lower'] +=1
        else:
            pass
    print 'Input string : ',st
    print 'Upper case count : ',d['upper']
    print 'Lower case count : ',d['lower']

In [145]:
count_character('Ashish Ajay Sharma')

Input string :  Ashish Ajay Sharma
Upper case count :  3
Lower case count :  13