# List comprehension

In [1]:
l = []
for letter in 'word':
    l.append(letter)
print l

['w', 'o', 'r', 'd']

In [4]:
lst = [letter for letter in 'word']

In [6]:
lst

['w', 'o', 'r', 'd']

x^2 : x in {0,1,2,3,...10}

In [7]:
lst = [x**2 for x in range(0,11)]
print lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
lst = [x for x in xrange(0,100) if x%2==0]
lst

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [10]:
lst=[]
for number in xrange(11):
    if number %2 == 0:
        lst.append(number)

In [11]:
lst

[0, 2, 4, 6, 8, 10]

In [16]:
celsius = [0,10,20.1,34.5]

fahrenheit = [(tem*(9/5.0)+32) for tem in xrange(-32,32)]

In [17]:
fahrenheit

[-25.6,
 -23.800000000000004,
 -22.0,
 -20.200000000000003,
 -18.4,
 -16.6,
 -14.800000000000004,
 -13.0,
 -11.200000000000003,
 -9.399999999999999,
 -7.600000000000001,
 -5.800000000000004,
 -4.0,
 -2.200000000000003,
 -0.3999999999999986,
 1.3999999999999986,
 3.1999999999999993,
 5.0,
 6.800000000000001,
 8.599999999999998,
 10.399999999999999,
 12.2,
 14.0,
 15.8,
 17.6,
 19.4,
 21.2,
 23.0,
 24.8,
 26.6,
 28.4,
 30.2,
 32.0,
 33.8,
 35.6,
 37.4,
 39.2,
 41.0,
 42.8,
 44.6,
 46.4,
 48.2,
 50.0,
 51.8,
 53.6,
 55.400000000000006,
 57.2,
 59.0,
 60.8,
 62.6,
 64.4,
 66.2,
 68.0,
 69.80000000000001,
 71.6,
 73.4,
 75.2,
 77.0,
 78.80000000000001,
 80.6,
 82.4,
 84.2,
 86.0,
 87.80000000000001]

In [25]:
lst = [x**2 for x in[ x**2 for x in range(11)]]

In [26]:
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [27]:
lst = [x**3 for x in [x for x in xrange(100) if x%2 == 0]]

In [28]:
lst

[0,
 8,
 64,
 216,
 512,
 1000,
 1728,
 2744,
 4096,
 5832,
 8000,
 10648,
 13824,
 17576,
 21952,
 27000,
 32768,
 39304,
 46656,
 54872,
 64000,
 74088,
 85184,
 97336,
 110592,
 125000,
 140608,
 157464,
 175616,
 195112,
 216000,
 238328,
 262144,
 287496,
 314432,
 343000,
 373248,
 405224,
 438976,
 474552,
 512000,
 551368,
 592704,
 636056,
 681472,
 729000,
 778688,
 830584,
 884736,
 941192]

In [1]:
square =[x**2 for x in range(10)]

In [2]:
square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [6]:
vec = [-4,-2,0,2,4]

In [7]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [8]:
[x for x in vec if x>=0]

[0, 2, 4]

In [9]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [10]:
vec = [[1,2,3],[4,5,6],[7,8,9]]

In [11]:
[num for row in vec for num in row]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
from math import pi
[str(round(pi,x)) for x in range(5)][::-1]

['3.1416', '3.142', '3.14', '3.1', '3.0']

In [17]:
transposed = []
matrix = [[1,5,9],
         [2,6,10],
         [3,7,11],
         [4,8,12]]

In [22]:
transposed = [[row[i] for row in matrix] for i in range(3)]

In [23]:
transposed

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]