# map

In [1]:
#map(function,sequence iterateable)

In [6]:
farenhite = [ (x*(9.0/5) + 32) for x in range(5) ]

In [7]:
farenhite

[32.0, 33.8, 35.6, 37.4, 39.2]

In [8]:
def fahrenheit(T):
    return (9.0/5)*T +32

In [9]:
fahrenheit(0)

32.0

In [10]:
temp = [0,22.5,40,100]

In [11]:
map(fahrenheit,temp)

[32.0, 72.5, 104.0, 212.0]

In [13]:
map(lambda T: ((9.0/5)*T +32),temp)

[32.0, 72.5, 104.0, 212.0]

In [14]:
lambda x,y: x+y

In [16]:
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]

map(lambda x,y,z: x+y+z,a,b,c)

[12, 15, 18]

In [17]:
map(lambda x : -1*x,a)

[-1, -2, -3]

In [26]:
map(lambda x: x%-2!=0 ,range(-10,20,3))

[False, True, False, True, False, True, False, True, False, True]

In [30]:
map(lambda x: y = y  x,range(1,6))

SyntaxError: invalid syntax (<ipython-input-30-3062969c010c>, line 1)

In [28]:
range(1,6)

[1, 2, 3, 4, 5]

# reduce

In [84]:
# reduce(function,sequence)

In [85]:
reduce(lambda x,y: x*y,range(1,6))

120

In [41]:
reduce(lambda x,y:x+y,range(0,10))

45

In [58]:
lst = [47,11,42,13,113]
reduce(lambda x,y:x+y,lst)

226

In [59]:
reduce(lambda x,y: x if x>y else y,lst)

113

In [79]:
~1+1

-1

In [86]:
12+13+14

39

In [88]:
a = [10]*100

In [90]:
a = [100]*5

In [108]:
map(lambda x,y: x if x > y else y,range(1,9),range(8,1,-1) )

[8, 7, 6, 5, 5, 6, 7, 8]

# Filters

In [110]:
# filter(function(),sequence)

In [111]:
filter(lambda x: x%2==0,[1,3,6,8,9,3,5,7,0,12,45,78])

[6, 8, 0, 12, 78]

In [114]:
filter(lambda x: x==2 or x%2!=0, range(0,20))

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [135]:
a = range(2,61)
for i in a:
    a = filter(lambda x: x==i or x%i!=0 ,a)

In [136]:
a

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59]

In [156]:
complex_congugate={}
for prime in a:
    complex_congugate[prime] =[]
    complex_congugate[prime] =(filter(lambda x: x%prime == 0,range(1,50)))

In [157]:
complex_congugate

{2: [2,
  4,
  6,
  8,
  10,
  12,
  14,
  16,
  18,
  20,
  22,
  24,
  26,
  28,
  30,
  32,
  34,
  36,
  38,
  40,
  42,
  44,
  46,
  48],
 3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48],
 5: [5, 10, 15, 20, 25, 30, 35, 40, 45],
 7: [7, 14, 21, 28, 35, 42, 49],
 11: [11, 22, 33, 44],
 13: [13, 26, 39],
 17: [17, 34],
 19: [19, 38],
 23: [23, 46],
 29: [29],
 31: [31],
 37: [37],
 41: [41],
 43: [43],
 47: [47],
 53: [],
 59: []}

# Zip

In [1]:
x = [1,2,3]
y = [4,5,6]

In [2]:
zip(x,y)

[(1, 4), (2, 5), (3, 6)]

In [4]:
a = [1,2,3,4,5,6]
b = [4,15,6,7,8,9]

maxi = [max(pair)for pair in zip(a,b)]

In [5]:
maxi

[4, 15, 6, 7, 8, 9]

In [6]:
map(lambda x,y: x if x > y else y,a,b)

[4, 15, 6, 7, 8, 9]

In [7]:
d1 = {'a':1,'b':2}
d2 = {'c':4,'d':5}

In [8]:
for i in d1:
    print i

a
b

In [10]:
zip(d2,d1.itervalues())

[('c', 1), ('d', 2)]

In [12]:
def switcharoo(d1,d2):
    dout = {}
    
    for d1key,d2val in zip(d1,d2.itervalues()):
        dout[d1key]=d2val
    
    return dout

In [13]:
switcharoo(d1,d2)

{'a': 4, 'b': 5}

# Enumerate

    def enumerate(sequence,start=0):
        n = start
        for elem in sequence:
            yield n,elem
            
            n+=1

In [14]:
lst = ['a','b','c']

In [18]:
count = 0
for (count,item) in enumerate(lst):
    print count
    print item

0
a
1
b
2
c

In [19]:
for count,item in enumerate(lst):
    if count>=2:
        break
    else:
        print item

a
b

# all() and any():

In [20]:
all([1,2,3,4])

True

In [21]:
all([0,1,2,3,4])

False

In [22]:
l = [True,True,False,False]

In [23]:
all(l)

False

In [24]:
any(l)

True

# Complex

In [28]:
complex(2,3)

(2+3j)

In [29]:
complex('3+4j')

(3+4j)

In [35]:
import math

In [37]:
from math import pi

In [38]:
pi

3.141592653589793

In [42]:
from math import radians
from math import cos
from math import degrees

In [44]:
cos(degrees(2*pi))

-0.2836910914865273